@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.App {
  text-align: center;
  font-family: 'Jua', sans-serif;

}


.main-bg{
  height : 200px;
  background-size : contain;
  background-position: center;
  background-image: url('./INU_logo.png');
  background-repeat: no-repeat;

}

.justify-content-center{
  
  border-top:1px solid yellow;
  border-bottom:1px solid yellow;
  margin-left: 100px;
  margin-right: 100px;
}